﻿@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Home</title>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    @Styles.Render("~/Content/cssList")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-home"></div>
    <main class="homeContainer">
        <div class="card">
            <div class="card-body pb-5">
                <h5 class="card-title"><img src="~/Content/Images/green_Logo.png" alt="Alghanim-Logo"></h5>
                <h1 class="card-subtitle mb-3 mt-3 text-center">Vendor Portal</h1>

                <div id="Select_BU">
                    @{
                        Html.RenderAction("SelectBU", "Home");
                    }
                </div>
                <div id="select_Vendor" style="display: none;">
                    @{
                        Html.RenderAction("SelectVendor", "Home");
                    }
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/scriptFiles")
    </main>
    <div class="bg-home-aft"></div>
</body>
</html>
