
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

body {
    font-family: RobotoRegular;
    background: #f0f4f3 !important;
}

main.homeContainer {
    padding: 3rem 5rem;
}

.bg-home::before {
    height: 319px;
    width: 256px;
    content: ' ';
    position: absolute;
    background-image: url(../assets/images/triangle.png);
    background-repeat: no-repeat;
    background-position: top right;
    right: 0px !important;
    background-size: contain;
}

.bg-home-aft::after {
    z-index: -1;
    height: 319px;
    width: 222px;
    content: ' ';
    position: absolute;
    background-image: url(../assets/images/circle.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    left: 0px;
    bottom: 0px !important;
    background-size: contain;
}

main.homeContainer > .card {
    border-radius: 15px;
    background: rgba(255,255,255,0.9);
}

    main.homeContainer > .card .card-title {
        padding: 10px 15px 0;
    }

    main.homeContainer > .card .card-subtitle {
        color: #6bbd1b;
        font-weight: 600;
    }

    main.homeContainer > .card .businessUnitControl .form-control {
        width: 30%;
        margin: auto;
    }

    main.homeContainer > .card .vendorUnit {
        border-color: transparent;
    }

        main.homeContainer > .card .vendorUnit:hover {
            box-shadow: 4px 3px 5px 0px #e3e3e3;
            border-color: #e3e3e3;
            transition: 0.6s all ease;
        }

        main.homeContainer > .card .vendorUnit span {
            border: 2px solid #ccc;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin: 15px auto;
            line-height: 70px;
        }

        main.homeContainer > .card .vendorUnit:hover span {
            border: 2px solid #6bbd1b;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin: 15px auto;
            line-height: 70px;
        }

        main.homeContainer > .card .vendorUnit span > p {
            background: url(../assets/images/spirites.png);
            height: 84px;
            width: 84px;
            transition: 0.6s all ease-in-out;
        }

            main.homeContainer > .card .vendorUnit span > p.newVendor {
                background-position: -289px 195px;
                background-size: 48rem;
            }

        main.homeContainer > .card .vendorUnit:hover span > p.newVendor {
            background-position: -289px 285px;
        }

        main.homeContainer > .card .vendorUnit span > p.existingVendor {
            background-position: -376px 195px;
            background-size: 48rem;
        }

        main.homeContainer > .card .vendorUnit:hover span > p.existingVendor {
            background-position: -376px 285px;
        }

        main.homeContainer > .card .vendorUnit h5 {
            color: #B0B0B0;
            cursor: pointer;
        }

        main.homeContainer > .card .vendorUnit a {
            color: #B0B0B0;
            cursor: pointer;
        }

        main.homeContainer > .card .vendorUnit:hover h5 {
            color: #6bbd1b;
        }

        main.homeContainer > .card .vendorUnit:hover a {
            color: #dd9c33;
        }
/*.btn-cus {
    padding: 7px 40px 7px 40px;
    color: #fff;
    border-radius: 0%;
    background-color: #dd9c33;
    border-color: #dd9c33;
    text-align: center;
}
.btn-cus:hover, .btn-cus:focus {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: none;
}*/
.form-check {
    margin-top: 2%;
    text-align: center;
    cursor: pointer;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        line-height: 23px;
        display: inline-block;
        color: #9F9F9F;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label:hover {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            line-height: 23px;
            display: inline-block;
            color: #E89C0C;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 22px;
                height: 22px;
                border: 2px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #6BBD0D;
                position: absolute;
                top: 5px;
                left: 5px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

h4 {
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-top: 7px;
    padding-right: 30px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6BBD0D;
    color: white;
    font-size: 14px;
    text-align: center;
}

    .footer p {
        margin-top: 7px;
        margin-bottom: 7px;
    }

.navbar.navbar-expand-lg.bg-light {
    background-color: #6BBD0D !important;
}

.holder {
    background-color: #fff;
}

.homeContainer .nav a.nav-link {
    background-color: #DDDDDD;
    color: #5C5C5C;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 0;
}

    .homeContainer .nav a.nav-link:last-child {
        border-right: none;
    }

    .homeContainer .nav a.nav-link.active {
        background-color: #E89C0C !important;
        color: #fff;
    }

.holder .tab-content .tab-pane .form-group .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: none;
}

    .holder .tab-content .tab-pane .form-group .form-control:focus {
        box-shadow: none;
        transition: .3s all ease-in-out;
        border-bottom-color: #E89C0C;
    }

.form-control-rect {
    border: 1px solid #A6A6A6;
}

    .form-control-rect::-webkit-input-placeholder {
        font-size: 14px;
        opacity: 0.6;
    }

    .form-control-rect::-moz-input-placeholder {
        font-size: 14px;
        opacity: 0.6;
    }

    .form-control-rect::-ms-input-placeholder {
        font-size: 14px;
        opacity: 0.6;
    }

.card {
    border: none;
}

.holder .tab-content .tab-pane .accordion .card .card-header {
    background-color: #fff;
    padding: 0;
}

    .holder .tab-content .tab-pane .accordion .card .card-header h2 {
        padding: 0 5rem;
    }

        .holder .tab-content .tab-pane .accordion .card .card-header h2 button {
            text-decoration: none;
            color: #000;
        }

.holder .tab-content .tab-pane .card .card-header {
    background-color: #fff;
    padding: 0;
}

    .holder .tab-content .tab-pane .card .card-header h2 {
        text-decoration: none;
        padding: 0 5rem;
    }

        .holder .tab-content .tab-pane .card .card-header h2 label {
            color: #5C5C5C;
            padding: 0 1rem;
        }

.holder .tab-content .tab-pane .accordion .card .card-header h2 button label {
    padding: 0 1rem;
}

.float-right i {
    font-size: 20px;
    padding: 0 1rem;
}

.float-right span {
    margin-top: 12px;
}

.float-right i.fa-plus-square {
    color: #6BBD0D;
}

.float-right i.fa-trash {
    color: red;
}

.float-right i.fa-chevron-down {
    color: #828282;
}
/*.holder .tab-content .tab-pane .accordion .card .card-header h2 button i {
    font-size: 20px;
    padding: 0 1rem;
}
.holder .tab-content .tab-pane .accordion .card .card-header h2 btn span {
    margin-top: 12px;
}
.holder .tab-content .tab-pane .accordion .card .card-header h2 btn i.fa-plus-square {
    color: #6BBD0D;
}
.holder .tab-content .tab-pane .accordion .card .card-header h2 btn i.fa-trash {
    color: red;
}*/
.required:after {
    content: " *";
    color: red;
}

.holder .tab-content .tab-pane .card .card-body select.form-control {
    font-size: 14px;
    opacity: 0.6;
    padding: 6px 0;
}

.holder .tab-content .tab-pane .card .card-body .form-control {
    padding: 6px 0;
    font-size: 14px;
    opacity: 0.6;
}

.holder .tab-content .tab-pane .accordion .card .card-body .form-control {
    padding: 6px 0;
}

.holder .tab-content .tab-pane .accordion .card .card-body select.form-control {
    font-size: 14px;
    opacity: 0.6;
}

.holder .tab-content .tab-pane .accordion .card .card-body .form-control::-webkit-input-placeholder {
    font-size: 14px;
    opacity: 0.6;
}

.holder .tab-content .tab-pane .accordion .card .card-body .form-control::-moz-input-placeholder {
    font-size: 14px;
    opacity: 0.6;
}

.holder .tab-content .tab-pane .accordion .card .card-body .form-control::-ms-input-placeholder {
    font-size: 14px;
    opacity: 0.6;
}

.btn-link:hover {
    text-decoration: none;
}

.register p {
    font-size: 24px;
    padding-top: 14px;
    text-align: center;
    color: #828282;
}

    .register p .refer {
        color: #E89C0C;
    }

    .register p .query {
        color: #FF5353;
        cursor: pointer;
    }

.card-header {
    padding: 0;
    border-bottom: 2px solid #EEEEEE;
    background: rgba(255,255,255,0.52);
}

.heading {
    font-size: 26px;
    color: #d39e00;
    text-align: center;
    padding-top: 20px;
}

    .heading::-ms-input-placeholder {
        font-size: 14px;
        opacity: 0.6;
    }

    .heading::-moz-input-placeholder {
        font-size: 14px;
        opacity: 0.6;
    }

    .heading::-webkit-input-placeholder {
        font-size: 14px;
        opacity: 0.6;
    }

.form-group {
    color: #828282;
}

.tooltip-text {
    color: #5C5C5C;
    font-size: 13px;
}

.bank-notes {
    color: red;
    font-size: 13px;
    text-align: center;
}

.resend-otp {
    color: red;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
