﻿@{
    ViewBag.Title = "Address";
    Layout = null;
}

<div id="vendor_Address">
    <div class="accordion " id="accordionExample">
        <div class="card" id="vendor_Address_Accordion1">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0 ">
                    <div class="btn btn-link btn-block text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img src="~/Content/assets/images/add-doc-icon.png" style="padding-left: 66px;" />
                        <label id="Vendor_Address1_Info">Add Address Information</label>
                        <span class="float-right">
                            <i class="fa fa-rotate-left" id="vendor_Address1_Clear"></i>
                            <i class="fa fa-plus-square" id="Vendor_Address1_Add"></i>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-8">
                            <form class="needs-validation" id="Vendor_Address_Form1" name="Vendor_Address_Form1" novalidate>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_Title">Title</label>
                                        <select id="Vendor_Address_TitleDDL" class="form-control">
                                            <option disabled selected value="">Select title</option>
                                        </select>
                                        <div id="Vendor_Address_TitleDDL_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_Name1">Name</label>
                                        <input type="text" class="form-control" id="Vendor_Address_Name1" placeholder="Enter name">
                                        <div id="Vendor_Address_Name1_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_Line1">Address Line 1</label>
                                        <input type="text" class="form-control" id="Vendor_Address_Line1" placeholder="Enter address line 1">
                                        <div id="Vendor_Address_Line1_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address_Line2">Address Line 2</label>
                                        <input type="text" class="form-control" id="Vendor_Address_Line2" placeholder="Enter address line 2">
                                        <div id="Vendor_Address_Line2_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address_Line3">Address Line 3</label>
                                        <input type="text" class="form-control" id="Vendor_Address_Line3" placeholder="Enter address line 3">
                                        <div id="Vendor_Address_Line3_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_City">City</label>
                                        <input type="text" class="form-control" id="Vendor_Address_City" placeholder="Enter city">
                                        <div id="Vendor_Address_City_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_CountryDDL">Country</label>
                                        <select id="Vendor_Address_CountryDDL" class="form-control">
                                            <option disabled selected value="">Select country</option>
                                        </select>
                                        <div id="Vendor_Address_CountryDDL_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_Postal">Postal Code</label>
                                        <input type="text" class="form-control" id="Vendor_Address_Postal" placeholder="Enter postal code">
                                        <div id="Vendor_Address_Postal_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address_Fax">Fax Number</label>
                                        <input type="number" class="form-control" id="Vendor_Address_Fax" placeholder="Enter fax number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address_Fax_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_Mobile">Mobile Number</label>
                                        <input type="number" class="form-control" id="Vendor_Address_Mobile" placeholder="Enter mobile number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address_Mobile_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address_Telephone">Telephone</label>
                                        <input type="number" class="form-control" id="Vendor_Address_Telephone" placeholder="Enter telephone" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address_Telephone_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address_Email">Email ID</label>
                                        <input type="text" class="form-control" id="Vendor_Address_Email" placeholder="Enter email-id">
                                        <div id="Vendor_Address_Email_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="button" class="btn btn-vendor btn-rounded" id="addressPreviousBtn1">Back</button>
                                    <button type="submit" class="btn btn-vendor btn-rounded ml-3" id="addressNextBtn">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="vendor_Address_Accordion2" style="display:none;">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0 ">
                    <div class="btn btn-link btn-block text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <img src="~/Content/assets/images/add-doc-icon.png" style="padding-left: 66px;" />
                        <label id="Vendor_Address2_Info">Add Address Information</label>
                        <span class="float-right">
                            <i class="fa fa-rotate-left" id="vendor_Address2_Clear"></i>
                            <i class="fa fa-trash" id="Vendor_Address2_Delete"></i>
                            <i class="fa fa-plus-square" id="Vendor_Address2_Add"></i>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-8">
                            <form class="needs-validation" id="Vendor_Address2_Form" name="Vendor_Address2_Form" novalidate>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Title">Title</label>
                                        <select id="Vendor_Address2_TitleDDL" class="form-control">
                                            <option disabled selected value="">Select title</option>
                                        </select>
                                        <div id="Vendor_Address2_TitleDDL_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Name1">Name</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_Name1" placeholder="Enter name">
                                        <div id="Vendor_Address2_Name1_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Line1">Address Line 1</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_Line1" placeholder="Enter address line 1">
                                        <div id="Vendor_Address2_Line1_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address2_Line2">Address Line 2</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_Line2" placeholder="Enter address line 2">
                                        <div id="Vendor_Address2_Line2_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address2_Line3">Address Line 3</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_Line3" placeholder="Enter address line 3">
                                        <div id="Vendor_Address2_Line3_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Postal">Postal Code</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_Postal" placeholder="Enter postal code" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==15 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address2_Postal_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_City">City</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_City" placeholder="Enter city">
                                        <div id="Vendor_Address2_City_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Country">Country</label>
                                        <select id="Vendor_Address2_CountryDDL" class="form-control">
                                            <option disabled selected value="">Select country</option>
                                        </select>
                                        <div id="Vendor_Address2_CountryDDL_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address2_Fax">Fax Number</label>
                                        <input type="number" class="form-control" id="Vendor_Address2_Fax" placeholder="ENTER FAX NUMBER" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address2_Fax_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Mobile">Mobile Number</label>
                                        <input type="number" class="form-control" id="Vendor_Address2_Mobile" placeholder="ENTER MOBILE NUMBER" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address2_Mobile_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address2_Telephone">Telephone</label>
                                        <input type="number" class="form-control" id="Vendor_Address2_Telephone" placeholder="ENTER TELEPHONE NUMBER" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address2_Telephone_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address2_Email">Email ID</label>
                                        <input type="text" class="form-control" id="Vendor_Address2_Email" placeholder="Enter email-id">
                                        <div id="Vendor_Address2_Email_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="button" class="btn btn-vendor btn-rounded" id="addressPreviousBtn2">Back</button>
                                    <button type="submit" class="btn btn-vendor btn-rounded ml-3" id="address2NextBtn">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="vendor_Address_Accordion3" style="display:none;">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0 ">
                    <div class="btn btn-link btn-block text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <img src="~/Content/assets/images/add-doc-icon.png" style="padding-left: 66px;" />
                        <label id="Vendor_Address3_Info">Add Address Information</label>
                        <span class="float-right">
                            <i class="fa fa-rotate-left" id="vendor_Address3_Clear"></i>
                            <i class="fa fa-trash" id="Vendor_Address3_Delete"></i>
                            @*<i class="fa fa-plus-square" id="Vendor_Address3_Add"></i>*@
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-8">
                            <form class="needs-validation" id="Vendor_Address3_Form" name="Vendor_Address3_Form" novalidate>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Title">Title</label>
                                        <select id="Vendor_Address3_TitleDDL" class="form-control">
                                            <option disabled selected value="">Select title</option>
                                        </select>
                                        <div id="Vendor_Address3_TitleDDL_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Name1">Name</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_Name1" placeholder="Enter name">
                                        <div id="Vendor_Address3_Name1_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Line1">Address Line 1</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_Line1" placeholder="Enter address line 1">
                                        <div id="Vendor_Address3_Line1_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address3_Line2">Address Line 2</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_Line2" placeholder="Enter address line 2">
                                        <div id="Vendor_Address3_Line2_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address33_Line3">Address Line 3</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_Line3" placeholder="Enter address line 3">
                                        <div id="Vendor_Address3_Line3_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Postal">Postal Code</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_Postal" placeholder="Enter postal code" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==15 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address3_Postal_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_City">City</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_City" placeholder="Enter city">
                                        <div id="Vendor_Address3_City_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Country">Country</label>
                                        <select id="Vendor_Address3_CountryDDL" class="form-control">
                                            <option disabled selected value="">Select country</option>
                                        </select>
                                        <div id="Vendor_Address3_CountryDDL_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address3_Fax">Fax Number</label>
                                        <input type="number" class="form-control" id="Vendor_Address3_Fax" placeholder="ENTER FAX NUMBER" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address3_Fax_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Mobile">Mobile Number</label>
                                        <input type="number" class="form-control" id="Vendor_Address3_Mobile" placeholder="ENTER MOBILE NUMBER" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address3_Mobile_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Vendor_Address3_Telephone">Telephone</label>
                                        <input type="number" class="form-control" id="Vendor_Address3_Telephone" placeholder="ENTER TELEPHONE NUMBER" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==30 && event.keyCode!=8) return false;">
                                        <div id="Vendor_Address3_Telephone_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Address3_Email">Email ID</label>
                                        <input type="text" class="form-control" id="Vendor_Address3_Email" placeholder="Enter email id">
                                        <div id="Vendor_Address3_Email_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="button" class="btn btn-vendor btn-rounded" id="addressPreviousBtn3">Back</button>
                                    <button type="submit" class="btn btn-vendor btn-rounded ml-3" id="address3NextBtn">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>