﻿@{
    ViewBag.Title = "Address";
    Layout = null;
}

<div id="vendor_Bank">
    <div class="accordion " id="accordionExample">
        <div class="card" id="vendor_Bank_Accordion1">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0 ">
                    <div class="btn btn-link btn-block text-left" data-toggle="collapse" data-target="#bankcollapseOne" aria-expanded="true" aria-controls="bankcollapseOne">
                        <img src="~/Content/assets/images/add-doc-icon.png" style="padding-left: 66px;" />
                        <label>Add Bank Information</label>
                        <span class="float-right">
                            <i style="cursor:pointer;" class="fa fa-rotate-left" id="vendor_Bank_Clear"></i>
                            <i style="cursor:pointer;" class="fa fa-plus-square" id="vendor_Bank_Add1"></i>
                            <i style="cursor:pointer;" class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                </h2>
            </div>
            <div id="bankcollapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-8">
                            <form method="post" class="needs-validation" id="Vendor_Bank_Form1" name="Vendor_Bank_Form1" novalidate>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank_CountryDDL">Country</label>
                                    <select id="Vendor_Bank_CountryDDL" class="form-control">
                                        <option disabled selected value="">Select country</option>
                                    </select>
                                    <div id="Vendor_Bank_CountryDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank_NameDDL">Bank Name</label>
                                    <select id="Vendor_Bank_NameDDL" class="form-control">
                                        <option disabled selected value="">Select bank name</option>
                                        <option value="BANK Name">BANK NAME</option>
                                    </select>
                                    <div id="Vendor_Bank_NameDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank_Swift">Bank Key / Swift Code</label>
                                    <select id="Vendor_Bank_SwiftDDL" class="form-control">
                                        <option disabled selected value="">Select bank key/swift code</option>
                                        <option value="SWIFT CODE">SWIFT CODE</option>
                                    </select>
                                    <div id="Vendor_Bank_SwiftDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Bank_Account">Bank Account</label>
                                        <input type="text" class="form-control" id="Vendor_Bank_Account" placeholder="Enter bank account">
                                        <div id="Vendor_Bank_Account_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Bank_Holder">Account Holder</label>
                                        <input type="text" class="form-control" id="Vendor_Bank_Holder" placeholder="Enter account holder">
                                        <div id="Vendor_Bank_Holder_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank_IBAN">IBAN Value</label>
                                    <input type="text" class="form-control" id="Vendor_Bank_IBAN" placeholder="Enter IBAN value">
                                    <div id="Vendor_Bank_IBAN_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <p class="mt-4 bank-notes">Note : If you are unable to find your Swift Code please contact <a style="color:red;" href="#">retailprocurement@alghanim.com</a></p>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="button" class="btn btn-vendor btn-rounded" id="BankPreviousBtn1">Back</button>
                                    <button type="submit" class="btn btn-vendor btn-rounded ml-3" id="BankNextBtn">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="vendor_Bank_Accordion2" style="display:none;">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0 ">
                    <div class="btn btn-link btn-block text-left" data-toggle="collapse" data-target="#bankcollapseTwo" aria-expanded="true" aria-controls="bankcollapseTwo">
                        <img src="~/Content/assets/images/add-doc-icon.png" style="padding-left: 66px;" />
                        <label>Add Bank Information</label>
                        <span class="float-right">
                            <i style="cursor:pointer;" class="fa fa-rotate-left" id="vendor_Bank2_Clear"></i>
                            <i style="cursor:pointer;" class="fa fa-trash" id="vendor_Bank_Delete2"></i>
                            <i style="cursor:pointer;" class="fa fa-plus-square" id="vendor_Bank_Add2"></i>
                            <i style="cursor:pointer;" class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                </h2>
            </div>
            <div id="bankcollapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-8">
                            <form class="needs-validation" id="Vendor_Bank2_Form" name="Vendor_Bank2_Form" novalidate>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank2_Country">Country</label>
                                    <select id="Vendor_Bank2_CountryDDL" class="form-control">
                                        <option disabled selected value="">Select country</option>
                                    </select>
                                    <div id="Vendor_Bank2_CountryDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank2_Name">Bank Name</label>
                                    <select id="Vendor_Bank2_NameDDL" class="form-control">
                                        <option disabled selected value="">Select bank name</option>
                                        <option value="AXIS BANK">AXIS BANK</option>
                                    </select>
                                    <div id="Vendor_Bank2_NameDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank2_Swift">Bank Key / Swift Code</label>
                                    <select id="Vendor_Bank2_SwiftDDL" class="form-control">
                                        <option disabled selected value="">Select bank key/swift code</option>
                                        <option value="SWIFT CODE">SWIFT CODE</option>
                                    </select>
                                    <div id="Vendor_Bank2SwiftDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Bank2_Account">Bank Account</label>
                                        <input type="text" class="form-control" id="Vendor_Bank2_Account" placeholder="Enter bank account">
                                        <div id="Vendor_Bank2_Account_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Bank2_Holder">Account Holder</label>
                                        <input type="text" class="form-control" id="Vendor_Bank2_Holder" placeholder="Enter account holder">
                                        <div id="Vendor_Bank2_Holder_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank2_IBAN">IBAN Value</label>
                                    <input type="text" class="form-control" id="Vendor_Bank2_IBAN" placeholder="Enter IBAN value">
                                    <div id="Vendor_Bank2_IBAN_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <p class="mt-4 bank-notes">Note : If you are unable to find your Swift Code please contact <a style="color:red;" href="#">retailprocurement@alghanim.com</a></p>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="button" class="btn btn-vendor btn-rounded" id="BankPreviousBtn2">Back</button>
                                    <button type="submit" class="btn btn-vendor btn-rounded ml-3" id="BankNextBtn">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" id="vendor_Bank_Accordion3" style="display:none;">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0 ">
                    <div class="btn btn-link btn-block text-left" data-toggle="collapse" data-target="#bankcollapseThree" aria-expanded="true" aria-controls="bankcollapseThree">
                        <img src="~/Content/assets/images/add-doc-icon.png" style="padding-left: 66px;" />
                        <label>Add Bank Information</label>
                        <span class="float-right">
                            <i style="cursor:pointer;" class="fa fa-rotate-left" id="vendor_Bank3_Clear"></i>
                            <i style="cursor:pointer;" class="fa fa-trash" id="vendor_Bank_Delete3"></i>
                            @*<i class="fa fa-plus-square"></i>*@
                            <i style="cursor:pointer;" class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                </h2>
            </div>
            <div id="bankcollapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col col-md-8">
                            <form class="needs-validation" id="Vendor_Bank3_Form" name="Vendor_Bank3_Form" novalidate>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank3_Country">Country</label>
                                    <select id="Vendor_Bank3_CountryDDL" class="form-control">
                                        <option disabled selected value="">Select country</option>
                                    </select>
                                    <div id="Vendor_Bank3_CountryDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank3_Name">Bank Name</label>
                                    <select id="Vendor_Bank3_NameDDL" class="form-control">
                                        <option disabled selected value="">Select bank name</option>
                                        <option value="AXIS BANK">AXIS BANK</option>
                                    </select>
                                    <div id="Vendor_Bank3_NameDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank3_Swift">Bank Key / Swift Code</label>
                                    <select id="Vendor_Bank3_SwiftDDL" class="form-control">
                                        <option disabled selected value="">Select bank key/swift code</option>
                                        <option value="SWIFT CODE">SWIFT CODE</option>
                                    </select>
                                    <div id="Vendor_Bank3_SwiftDDL_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Bank3_Account">Bank Account</label>
                                        <input type="text" class="form-control" id="Vendor_Bank3_Account" placeholder="Enter bank account">
                                        <div id="Vendor_Bank3_Account_ErrorMsg" class="vendorError"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="required" for="Vendor_Bank3_Holder">Account Holder</label>
                                        <input type="text" class="form-control" id="Vendor_Bank3_Holder" placeholder="Enter account holder">
                                        <div id="Vendor_Bank3_Holder_ErrorMsg" class="vendorError"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="Vendor_Bank3_IBAN">IBAN Value</label>
                                    <input type="text" class="form-control" id="Vendor_Bank3_IBAN" placeholder="Enter IBAN value">
                                    <div id="Vendor_Bank3_IBAN_ErrorMsg" class="vendorError"></div>
                                </div>
                                <div class="form-group">
                                    <p class="mt-4 bank-notes">Note : If you are unable to find your Swift Code please contact <a style="color:red;" href="#">retailprocurement@alghanim.com</a></p>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="button" class="btn btn-vendor btn-rounded" id="BankPreviousBtn3">Back</button>
                                    <button type="submit" class="btn btn-vendor btn-rounded ml-3" id="BankNextBtn">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

